body {
    font-family :'Open Sans', sans-serif;
}
.label-running {
    border: 1px solid #53A93F;
    color: #53A93F;
    border-radius: 0; 
}   


.label-scheduled {
    border: 1px solid #1AB394;
    color: #1AB394;
    border-radius: 0;
}


.label-stopped{ 
    border: 1px solid #990000;
    color: #990000;
    border-radius: 0;
}

    
.label-finished{ 
    border: 1px solid #949494;
    color: #949494;
    border-radius: 0;
}

.input-lg {
    font-size: 14px;
    border-radius: 0;
    height: 37.5px;
    border: 1px solid #949494;
    outline: none;
}
.input-lg:focus {
    background-color: #EDEEF0;
}
.addContent {
    display: block;
    margin: 30px 0px;
    text-align: center;
}
.big-image {
    width: 150px;
    height: 150px;
}
.medium-image {
    width: 75px;
    height: 75px;
}
.small-image {
    width: 30px;
    height: 30px;
}
.big-circle {
    border-radius: 75px;
    border: 1px solid #D5D6D8;
}
.medium-circle {
    border-radius: 37.5px;
    border: 1px solid #D5D6D8;
}
.small-circle {
    border-radius: 27.5px;
    border: 1px solid #D5D6D8;
}
ul {
    list-style-type: none;
}
.btn {
    border-radius: 4px;
}
.navigation-bar .navbar-header {
    text-align: center;
    padding-top: 7.5px;
}
.navigation-bar span {
    color: white;
    font-size: 30px;
    z-index: 100;
}
.footer-bottom > div {
    text-align: center;
}
.footer-bottom {
    width: 100%;
    background-color: #EDEEF0;
}
html, body {
    height: 100%
}
.content-wrap {
    min-height: 100%;
}
.content-wrap:after {
    content: "";
    display: block;
}
.inner-pad {
    padding: 20px 30px 20px 30px;
}
.foot-logo {
    width: 95px;
}
.foot-link {
    font-size: 11px !important;
    font-weight: 300 !important;
    color: #4D4D4D;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
}
.foot-link:hover,
.foot-link:active,
.foot-link:focus {
    color: #222 !important;
}
.separator {
    color: #4D4D4D;
    position: relative;
    bottom: 1.5px;
    left: 2px;
    font-size: 7px;
}

@media(min-width: 768px) {
    .content-wrap {
        padding: 50px 0 0 215px;
        transition: padding 0.5s ease-in-out !important;
        margin-bottom: -110px;    
    }
    .content-wrap-alt {
        padding: 50px 0 0 35px;
        transition: padding 0.5s ease-in-out !important;
    }
    .content-wrap:after {
        height: 110px;
    }
    .drop-fade-alt {
        opacity: 1 !important;
    }
    .drop-fade {
        opacity: 0;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: opacity;
        transition-property: opacity;
    }
    .footer-bottom {
        height: 110px;
    }
    .footer-bottom {
        padding: 7.5px 0 7.5px 260px;
        transition: padding 0.5s ease-in-out !important;   
    }
    .footer-bottom-alt {
        padding: 7.5px 0 7.5px 65px;
        transition: padding 0.5s ease-in-out !important;   
    }
}
.side-toggle {
    float: left;
    position: relative;
    top: 7.5px;
    right: 15px;
    font-size: 20px !important;
}

/*-----------SIDEBAR-----------*/
.left-bar,
.right-bar {
    display: inline-block;
    background-color: #EDEEF0;
    height: 100%;
    position: fixed;
    padding-top: 10px;
}
.side-bar {
    position: fixed;
    z-index: 99;
}
@media screen and (max-device-width: 768px), (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .side-toggle {
        right: 0px;
    }
    .content-wrap {
        padding: 50px 0 0 0;
        margin-bottom: -265px;
    }
    .content-wrap:after {
        height: 265px;
    }
    .drop-fade-alt {
        opacity: 0 !important;
    }
    .drop-fade {
        opacity: 0 !important;
    }
    .footer-bottom {
        padding: 10px 0 10px 0;
        height: 265px;
    }
    .footer-bottom > div > span,
    .footer-bottom > div > a,
    .footer-bottom > div > p {
        margin-top: 10px;
        display: block;
    }
}
.side-bar-hidden {
    display: initial !important;
}
.side-bar ul {
    padding-left: 0;
}
.right-bar {
    transform: translate3d(35px, 0px, 0px);
    transition: transform 0.5s ease-in-out !important;
}
.hide {
    transform: translate3d(-146px, 0px, 0px);
}
.left-bar > ul > li,
.left-bar > ul > ul > li {
    height: 35px;
    width: 35px;
    text-align: center;
}
.right-bar > ul > li,
.right-bar > ul > ul > li {
    height: 35px;
    width: 180px;
    
}
.side-bar a {
    color: #4D4D4D;
}
.side-bar a:hover,
.side-bar a:active,
.side-bar a:focus {
    text-decoration: none;
    outline: none;
}
.side-bar p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.right-bar > ul > li > a > p,
.right-bar > ul > ul > li > a > p {
    padding-left: 5px;
    padding-top: 7.5px;
    margin: 0;
    height: 100%;
    border-bottom: 1px solid #D5D6D8;
}
.left-bar > ul > li > a > span,
.left-bar > ul > ul > li > a > span {
    padding-top: 10px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #D5D6D8;
    position: relative;
    top: 0px;
}
.intern {
    background-color: #E3E3E3;
}
.off-hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property:background-color;
    transition-property:background-color;
}
.on-hover {
    background-color: #D5D6D8 !important;
}
.droption {
    float: right;
    padding: 5px 15px;
    font-size: 10px;
}
.userMenu-btn {
    text-align: center;
    border-bottom: none !important;
    background-color: #6b9cb5;
    color: white;
    font-weight: 600 !important;
}
.first-li {
    background-color: #6b9cb5;
}
.userMenu-btn .on-hover {
    background-color: #395360 !important;
}
.profile-picture {
    height: 135px;
}
.left-bar .profile-picture {
    padding-top: 70px;
    text-align: center;
}
.right-bar .profile-picture {
    padding-top: 50px;
    padding-left: 35px;
}
/*-----------BOTONES-----------*/


.btn-inverse {
    color: #fff;
    background-color: #424242;
    border-color: #262626;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #6B6B6B;
    border-color: #575757;        
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-inverse .badge {
    color: #337ab7;
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li > .option {
    color: #0d0d0d;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #d5d6d8;
}

.nav .side-nav .navbar-nav > li:hover {
    background-color: #d5d6d8;
}


.btn,
.btn:hover,
.btn:active,
.btn:focus {
    border: none;
}
.btn {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
}


.btn-inverse {
    background-color: #424242;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active {
    background-color: #000 !important;
    color: #D5D6D8;
}

.btn-info {
    background-image: none;
    background-color: #6b9cb5;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background-color: #395360 !important;
    color: #D5D6D8;
}

.btn-default {
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #D5D6D8;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #BDBDBD !important;
    color: #4D4D4D;
}

.btn-default-alt {
    text-shadow: none;
    color: #6b9cb5;
    background-image: none;
    background-color: #D5D6D8;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-default-alt:hover,
.btn-default-alt:focus,
.btn-default-alt:active {
    background-color: #BDBDBD !important;
    color: #395360;
}

.btn-default-border {
    border: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-default-border:hover,
.btn-default-border:focus,
.btn-default-border:active {
    background-color: #FFF !important;
    color: #222222;
    border-color: #222222 !important;
}


.btn-blue {
    border: 1px solid !important;
    border-color: #6b9cb5 !important; 
    text-shadow: none;
    color: #6b9cb5;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    background-color: #FFF !important;
    color: #395360;
    border-color: #395360 !important;
}


.btn-filter {
    border-radius: 0;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-filter.btn.active,
.btn-filter.btn:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active {
    background-color: #FFF !important;
    color: #222222;
    border-color: #222222 !important;
}

.btn-empty,
.btn-empty > .drop-span {
    border: none; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: none;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-empty.btn.active,
.btn-empty.btn:active,
.btn-empty.btn.active > .drop-span, 
.btn-empty.btn:active > .drop-span  {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn-empty:hover,
.btn-empty:focus,
.btn-empty:active,
.btn-empty:hover > .drop-span,
.btn-empty:focus > .drop-span,
.btn-empty:hover > .drop-span  {
    background-color: none !important;
    color: #222222;
    border: none;
}


.drop-span {
    border: none;
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle; 
    transition:all 0.2s ease-in-out;
}
.drop-span:hover,
.drop-span:focus,
.drop-span:active {
    background-color: none !important;
    color: #222222;
    border: none;  
}
.drop-span-alt {
    transform:rotateZ(180deg);    
}


.btn-state {
    border: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-state:hover,
.btn-state:focus,
.btn-state:active {
    background-color: #FFF !important;
    color: #222222;
    border-color: #222222 !important;
}


.btn-state-alt {
    border: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: white;
    background-image: none;
    background-color: #949494;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}

.btn-state-alt:hover,
.btn-state-alt:focus,
.btn-state-alt:active {
    background-color: #000 !important;
    color: white;
    border-color: #000 !important;
}

.state-tick-alt {
    background-color: none;
}

.state-tick {
    display: none;
}


/*-----------TAB CONTAINER-----------*/

.tab-container {
    border: 1px solid #D5D6D8;
    font-family: 'Open Sans', sans-serif;
    margin: 30px 30px;
}
.tab-container > .nav-pills > li > a {
    border-radius: 0;
    color: #4D4D4D;
}

.tab-container > .nav-pills > li > a:hover,
.tab-container > .nav-pills > li > a:focus,
.tab-container > .nav-pills > li > a:active {
    color: #4D4D4D;
    background-color: #EDEEF0;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: #EDEEF0;
}

.nav-pills>li>a {
    border-radius: 0;
    text-shadow: none;
    color: #EDEEF0;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.nav-pills>li>a, 
.nav-pills>li>a:focus, 
.nav-pills>li>a:hover {
    background-color: white;
}


/*-----------BADGES-----------*/

.label-default {
    background-color: #949494;
    border-radius: 10px;
    margin-left: 4px;
}
.label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.label-default-border {
    border: 1px solid #949494;
    color: #949494;
    border-radius: 0;
}



/*-----------IMAGE-BUTTON-----------*/

.image-upload,
.image-upload:hover,
.image-upload:focus,
.image-upload:active {
    background-color: #EDEEF0;
    width: 150px;
    height: 150px;
    border: 1px solid #D5D6D8;
}
.image-upload>span {
    font-size: 50px;
    color: #D5D6D8;
}
.btn {
    outline: 0 !important;
}


/*-----------MODAL-----------*/

.modal-body > div > div > .circular{
    width: 138px;
    height: 138px;
    border-radius: 69px;
    -webkit-border-radius: 69px;
    -moz-border-radius: 69px;
    margin: 0 0 0 6px;
}
    
.modal-body,
.modal-body-new-artist{
    text-align: left;
    background-color: #EDEEF0;      
}

.modal-body > div > a,
.modal-body-new-artist div > a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.artist-list{
    margin-top: 30px;
}        
.modal-body-new-artist{
    height: 110px;
}    
#switchMultiTrace{
    color: #D5D6D8;
}    
#switchMultiTrace:hover,
#switchMultiTrace:focus,
#switchMultiTrace:active{
    color: #949494;
}    
#switchMultiTrace,
#switchMultiTrace:hover,
#switchMultiTrace:focus,
#switchMultiTrace:active{
    background-color: #222 !important;
}    
#myNewArtistLabel{
    display: inline-block;
    margin-right: 15px;
}    
.modal-body{
    height: 283px;
}        
.modal-footer{
    background-color: #EDEEF0;
}                
#changeProfilePic > p{
    display: inline-block;
}    
#changeProfilePic > span{
    top: 2px;
}        
.profile-field{
    margin: 0 0 10px 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}    
.profile-field > span{
    font-weight: 600;
    color: #949494;
}
    
.modal-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    color: white;
}    
.modal-header{
    background-color: #222;
}    
.black-glyph{
    font-size: 18px;
    color: white;
}    
.close{
    text-shadow: none;
    opacity: 1;
}    
.input-group-addon{
    background-color: #EDEEF0;
}



.areatext-div {
    padding-left: 0px !important;
}
.enquiry-div {
    padding-bottom: 3.5px;
    border-bottom: 1px solid #E5E5E5;
}
.enquiry-div > span {
    font-weight: 600;
    padding-left: 15px;
}
.enquiry-div > textarea {
    height: 217px;
    margin-top: 12px;
    border-radius: 0px;
}
.information-div {
    border: 1px solid #395360 !important;
    padding: 0px !important;
    height: 100%;
}
.information-div-header {
    width: 100%;
    background-color: #395360;
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding: 12.5px 11.5px 15px;
}
.information-div-header > p {
    color: white;
    margin: 0px;
}
.information-div-info {
    padding: 10px 12px;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}




.campaign-box {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 1px solid #949494;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12.5px;
}
.campaign-box-mobile {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 1px solid #949494;
    padding: 12.5px;
    min-height: 96px;
}
.campaign-box .state-column {
    padding: 9.5px 7.5px 0 0;
    flex: 1 1 1;
}
.campaign-box .content-column {
    padding: 0 7.5px;
    flex: 2 1 0;
    border-right: 1px solid #D5D6D8;
}
.campaign-box .campaign-column h3 {
    margin-top: 0;
    margin-bottom: 7.5px;
}
.campaign-box-mobile h3 {
    margin-top: 0;
    margin-bottom: 7.5px;
}
.campaign-box .data-column {
    flex: 1 1 1;
    font-size: 13px;
    color: #4D4D4D;
    padding: 0 7.5px;
}
.campaign-box-mobile .data-column {
    font-size: 13px;
    color: #4D4D4D;
}
.campaign-box .options-column {
    flex: 1 1 1;
    padding: 0 0 0 5px;
}

.btn-corner-option {
    font-size: 15px;
    padding: 7.5px 7.5px 7.5px 7.5px !important;
    background-color: #949494;
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn-corner-option:focus,
.btn-corner-option:active,
.btn-corner-option:hover {
    background-color: #4D4D4D;
    color: white;
}
.campaign-box .btn-expand,
.campaign-box-mobile .btn-expand {
    cursor: pointer;
}
.campaign-box .btn-expand div,
.campaign-box-mobile .btn-expand div  {
    border: 3px solid #949494;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-transition: border-color 0.25s ease;
    -moz-transition: border-color 0.25s ease;
    -o-transition: border-color 0.25s ease;
    transition: border-color 0.25s ease;
}
.campaign-box .btn-expand .fa-expand,
.campaign-box-mobile .btn-expand .fa-expand {
    color: #949494;
    position: relative;
    top: 4.5px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.campaign-box .data-rows div:nth-child(1) {
    min-width: 12px;
    margin-right: 5px;
    font-size: 17px;
    position: relative;
    top: 2px;
    color: #222;
}
.campaign-box-mobile .data-rows div:nth-child(1) {
    min-width: 12px;
    margin-right: 5px;
    font-size: 17px;
    color: #222;
}
.campaign-box .data-rows div:nth-child(2),
.campaign-box-mobile .data-rows div:nth-child(2) {
    min-width: 68px;
    margin-right: 14.5px;
    font-weight: 600;
}
.campaign-box .data-rows div:nth-child(3),
.campaign-box-mobile .data-rows div:nth-child(3) {
    font-weight: 400;
}
.campaign-box .data-rows div,
.campaign-box-mobile .data-rows div {
    text-align: left;
    display: inline-block;
}
.campaign-box .data-rows {
    display: block;
    margin-bottom: 10px;
}
.campaign-box-mobile .data-rows {
    display: inline-block;
    margin: 0 7.5px 10px 7.5px;
    width: 180px;
}
.btn-popover {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 7.5px 0px 7.5px 0px !important;
}
.popover {
    border-radius: 0;
}
.campaign-box .popover,
.campaign-box-mobile .popover {
    max-width: 185px;
}
.campaign-box .campaign-hideable,
.campaign-box-mobile .campaign-hideable {
    display: none;
}
.data-buttons {
    margin-top: 7.5px;
}
.campaign-box-mobile .data-column {
    text-align: center;
}
.campaign-box-mobile .bands-message {
    padding-bottom: 7.5px;
    border-bottom: 1px solid #D5D6D8;
}
@media (min-width: 769px) {
    .campaign-box-mobile{
        display: none;
    }
}

@media screen and (max-device-width: 768px), (max-width: 768px) {
    .campaign-box{
        display: none;
    }
}

.label {
    padding: 3.5px 5px 3.5px 5px;
}

.label-running {
    border: 1px solid #53A93F;
    color: #53A93F;
    border-radius: 0;    
}
.campaign-box-mobile .label {
    width: 80px;
    float: right;
}


.btn-small {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 7.5px 12px !important;
    border-radius: 0;
    outline: 0 !important;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.disc-box {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #949494;
    padding: 12.5px;
}
.discover {
    vertical-align: top;
}
.discover img {
    height: 150px;
    width: 150px;
}

.disc-info h3 {
    padding: 5px 0px 7.5px 0px;
    margin: 0;
    border-bottom: 1px solid #D5D6D8;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.disc-info p {
    font-size: 12px;
    margin: 7.5px 0px;
}
.disc-info span {
    font-weight: 600;
}


.art-box .cover-art {
    vertical-align: top;
}
.art-box .top-art-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5px;
}
.art-box .top-art-row h3{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}
.information-row div {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 5px 0 5px 0;
}

.information-row div span:nth-child(2){
    flex-grow: 1;
}
.art-box .popover {
    width: 210px;
}

@media (min-width: 420px) {
    .disc-box {
        width: 350px;
    }
    .discover {
        display: inline-block;
        margin-right: 12.5px;
    }
    .disc-info {
        display: inline-block;
        width: calc(100% - 170px);
    }
    .cover-info {
        display:inline-block;
        width: calc(100% - 117px);
    }
    .art-box .cover-art img{
        width: 100px;
        height: 100px;
    }
    .art-box .cover-art {
        display: inline-block;
        margin-right: 12.5px;
    }
    .art-box .top-art-row h3{
        font-size: 16px;
    }
    .information-row div {
        font-size: 13px;
    }
    .information-row div span:nth-child(2){
        max-width: 110px;
    }
}

@media screen and (max-device-width: 421px), (max-width: 421px) {
    .disc-box {
        width: 180px;
    }
    .discover,
    .disc-info {
        display: block;
    }
    .disc-info {
        margin-top: 10px;
    }
    .art-box .cover-art img{
        width: 150px;
        height: 150px;
    }
    .art-box .cover-art {
        display: inline-block;
    }
    .cover-info {
        display: block;
    }
    .art-box .top-art-row {
        margin-top: 12.5px;
    }
    .art-box .top-art-row h3{
        font-size: 15px;
    }
    .information-row div {
        font-size: 12px;
    }
    .information-row div span:nth-child(2){
        max-width: 60px;
    }
}

.art-box .top-art-row h3 > a {
  position: relative;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

.art-box .top-art-row h3 > a:hover {
  color: #222;
}

.art-box .top-art-row h3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #222;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.art-box .top-art-row h3 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}





.displayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*------ARTIST-INFO-BOX------*/
.artist-i {
    border: 1px solid #D5D6D8;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.artist-i-head div:nth-child(1) {
    border-bottom: 1px solid #D5D6D8;
    margin-bottom: 12.5px;
}
.artist-i-head div h2 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-bottom: 0;
    font-weight: 700;
    padding-bottom: 5px;
    color: #4d4d4d;
    margin-top: 15px;
}
.artist-i-img-alt {
    width: 250px;
    height: 250px;
}
.artist-i-info {
    font-size: 13px;
}
.artist-i-info p span {
    font-weight: 600;
}
.artist-i-img {
    margin: 0 20px 0 0 !important;
    width: 200px;
    height: 200px;
}

@media (min-width: 766px) {
    .artist-i-head {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        width: calc(100% - 220px);
    }
    .artist-i-head div:nth-child(1) {
        -webkit-display: flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
    }
    .artist-i-head div h2 {
        width: calc(100% - 95px);
    }
    .edit-info-mobile {
        display: none;
    }
    .artist-i-img-alt {
        display: none;
    }
}

@media screen and (max-device-width: 767px), (max-width: 767px) {
    .edit-info-desktop {
        display: none;
    }
    .artist-i-img {
        display: none;
    }
    .artist-i {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .artist-i-head div:nth-child(1) {
        text-align: center;
    }
    .edit-info-mobile a {
        width: 100%;
    }
    .artist-i-head {
        width: 100%;
        text-align: center;
    }
}



/*-------FLEX-LIST-------*/

@media (min-width: 766px) {
    .flex-list-responsive {
        display: none;
    }

    .flex-list {
        font-family: 'Open Sans', sans-serif;
    }
    .flex-list > div {
        -webkit-transition: background-color 0.5s ease-in-out;
        transition: background-color 0.5s ease-in-out;
    }
    .flex-list > div:hover,
    .flex-list > div:focus,
    .flex-list > div:active {
        background-color: #D5D6D8;
    }
    .flex-list > div:nth-child(1):hover,
    .flex-list > div:nth-child(1):focus,
    .flex-list > div:nth-child(1):active{
        background-color: white;
    }
    .flex-list > div:nth-child(1){
        font-weight: 600;
        font-size: 14px;
        height: 40px;
        -webkit-align-items: initial;
        align-items: initial;
        color: #4D4D4D;
        border-bottom: 1px solid #D5D6D8;
    }
    .flex-list > div:nth-child(1) > div {
        padding-top: 9px;
    }
    .flex-list > div:nth-child(1) > div > a {
        text-decoration: none;
        color: #949494;
        -webkit-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
    }
    .flex-list > div:nth-child(1) > div > a:hover,
    .flex-list > div:nth-child(1) > div > a:focus,
    .flex-list > div:nth-child(1) > div > a:active {
        cursor: pointer;
        color: #4D4D4D;
    }
    .flex-list > div:nth-child(1) > div:nth-child(1),
    .flex-list > div:nth-child(1) > div:nth-child(2),
    .flex-list > div:nth-child(1) > div:nth-child(3) {
        border-right: 1px solid #D5D6D8;
    }
    .flex-list > div > div:nth-child(2),
    .flex-list > div > div:nth-child(3),
    .flex-list > div > div:nth-child(4) {
        text-align: center;
    }
    .flex-list > div {
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        display: flex;
        justify-content: space-between;
        height: 50px;
        font-size: 13px;
        -webkit-align-items: center;
        align-items: center;
    }
    .flex-list > div > div:nth-child(1) {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        padding-left: 15px
    }
    .flex-list > div > div:nth-child(2),
    .flex-list > div > div:nth-child(3) {
        width: 60px;
    }
    .flex-list > div > div:nth-child(4) {
        width: 75px;
    }
    .action-icon {
        font-size: 30px;
        color: #949494;
        -webkit-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
    }
    .action-icon:hover,
    .action-icon:focus,
    .action-icon:active {
        color: #4D4D4D;
        text-decoration: none;
        cursor: pointer;
    }
    .flex-list .extra-info {
        color: #949494;
        font-size: 12px;
    }
    .flex-list .extra-info > span:nth-child(1) {
        margin-right: 12.5px;
    }
    .added-icon {
        color: #6b9cb5;
        font-size: 30px;
    }
}

.oddColor {
    background-color: rgba(243, 243, 244, 1);
}

@media screen and (max-device-width: 767px), (max-width: 767px) {
    .flex-list {
        display: none;
    }


    .flex-list-responsive {
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #D5D6D8;
    }
    .flex-list-responsive > div:nth-child(1),
    .flex-list-responsive > div:nth-child(2),
    .flex-list-responsive > div:nth-child(3) {
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
    .flex-list-responsive > a {
        -webkit-justify-content: center;
        justify-content: center;
    }
    .flex-list-responsive > div:nth-child(1) {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .flex-list-responsive > div > div:nth-child(1) {
        font-weight: 700;
        font-size: 14px;
        padding: 0 10px 0 0;
        width: 75px;
    }
    .flex-list-responsive > div > div:nth-child(2) {
        font-size: 12px;
    }
    .flex-list-responsive .extra-info {
        color: #949494;
        text-align: right;
        margin-top: 5px;
    }
    .flex-list-responsive .extra-info > span {
        display: block;
    }
    .flex-list-responsive > div:nth-child(1) > div:nth-child(2) {
        text-align: right;
    }
    .flex-list-responsive > div:nth-child(2) > div:nth-child(2),
    .flex-list-responsive > div:nth-child(3) > div:nth-child(2) {
        width: 75px;
        text-align: center;
        font-size: 14px;
    }
    .flex-list-responsive > a {
        width: 100%;
    }
    .added-torrent {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        height: 50px;
        display: flex;
        -webkit-justify-content: center;
        -webkit-align-items: center;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
        background-image: none;
        background-color: #6b9cb5;
        vertical-align: middle;
        color: white;
        width: 100%;
    }
    .added-torrent > .fa {
        position: relative;
        left: 2px;
    }
}






.order-dashboard > div {
    display: flex;
    font-family: 'Open Sans';
}

@media screen and (max-device-width: 767px), (max-width: 767px) {
    .order-dashboard > div {
        float: right;
    }
}
.order-dashboard .btn-empty {
    font-size: 25px;
    padding: 2.5px 0 !important;
    margin: 0px 5px 0 12.5px;
}
.btn-input {
    height: 37.5px;
    padding: 9px 14px !important;
    position: relative;
    right: 1px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: #949494;
    color: white;
    transition: color 0.5s ease-in-out;
}
.group-input {
    display: flex;
}












.bread-crumb {
    background-color: #4D4D4D;
    padding: 20px 30px;
    color: #FFF;
    font-family: "Open Sans";
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.bread-crumb a {
    color: white;
    cursor: pointer;
}
.bread-crumb .b-name {
    font-size: 2em;
}
.bread-crumb .b-bosition {
    font-size: 1.1em;
    font-weight: 300;
}

@media screen and (max-device-width: 767px), (max-width: 767px) {
    .bread-crumb .b-bosition {
        display: none;
    }
}






.account-mng {
    display: flex;
    padding: 30px;
}
.account-mng .left-col {
    flex-grow: 1;
    padding-right: 20px;
    border-right: 1px solid rgb(213, 214, 216);
}
.account-mng .acc-heading {
    display: flex;
}
.account-mng .acc-heading > div:nth-child(1) {
    flex-grow: 1;
}
.account-mng .acc-heading h3 {
    margin-top: 0px;
}
.account-mng .input-lg {
    flex-grow: 1;
}

/*----ACCOUNT BACKGRID----*/
th.sortable.renderable.name,
th.sortable.renderable.email{
    text-align: left;
}
th.sortable.renderable.state{
    text-align: center;
}
#userAccounts tbody > tr > td:nth-child(3) {
    text-align: center;
}
#userAccounts tbody > tr {
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
    cursor: pointer;
}
#userAccounts tbody > tr:hover,
#userAccounts tbody > tr:focus,
#userAccounts tbody > tr:active {
    background-color: #d5d6d8;
}
#userAccounts thead th > a {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: #222;
    cursor: pointer;
    text-decoration: none;
}
#userAccounts thead th:hover > a,
#userAccounts thead th:active > a,
#userAccounts thead th:focus > a {
    color: #6b9cb5;
}
#userAccounts thead {
    font-size: 14px;
}
#userAccounts {
    font-size: 12px;
}
#userAccounts tbody > tr > td {
    padding-top: 7.5px;
    padding-bottom: 10px;
}
/*----ACCOUNT BACKGRID----*/






.account-mng .right-col {
    width: 350px;
    padding-left: 20px;
}
.account-mng .right-col .first > div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
}
.account-mng .right-col .first > div > div {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.account-mng .right-col .first > div > div > h3 {
    margin-bottom: 0;
}
.account-mng .right-col .first > span,
.account-mng .right-col .third > span {
    font-weight: 600;
    color: #949494;
    display: block;
}
.account-mng .right-col .first,
.account-mng .right-col .second,
.account-mng .right-col .third {
    border-bottom: 1px solid #D5D6D8;
    padding-bottom: 5px;
}
.account-mng .right-col .second,
.account-mng .right-col .third,
.account-mng .right-col .fourth {
    padding-top: 5px;
}
.account-mng .right-col .second > div > span {
    font-size: 13px;
    color: #949494;
}
.account-mng .right-col .second > div:nth-child(1) {
    margin-bottom: 7.5px;
}
.link-info {
    text-decoration: none;
    color: #6b9cb5;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.link-info:active,
.link-info:focus,
.link-info:hover {
    color: #395360;
    text-decoration: none;
}
.account-mng .right-col .fourth {
    display: -webkit-flex;
    display: flex;
    padding-top: 10px;
}
.account-mng .right-col .fourth > a {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.account-mng .right-col .fourth > a:nth-child(1) {
    margin-right: 10px;
}
.account-mng .right-col .fourth > a:nth-child(2) {
    margin-left: 10px;
}



/*----DASHBOARD HEADER----*/

.dashboard-header .nailthumb-container {
    width: 350px;
    height: 200px;
    margin-right: 25px;
}
.dashboard-header {
    background-color: #222;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    color: #EDEEF0;
}
.dashboard-header .header-data > div:nth-child(1) {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.dashboard-header .header-data > div:nth-child(1) > h2 {
    margin-top: 0;
    margin-right: 15px;
}
.datos > h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.dashboard-header .header-data {
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dashboard-header .header-data > div:nth-child(2) {
    display: -webkit-flex;
    display: flex;
    min-width: 370px;
    max-width: 580px;
    width: 35vw;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 45px;
}
.dashboard-header .datos .fa {
    font-size: 20px;
    margin-left: 10px;
}
.dashboard-header .datos p {
    font-size: 11px;
    font-weight: 300;
    color: #D5D6D8;
}
.dashboard-header .header-footer {
    font-size: 12px;
    color: #949494;
}
.dashboard-header .datos-downloads .fa {
    color: #89E6D2;
}
.dashboard-header .datos-fans .fa {
    color: #8ACC7A;
}
.dashboard-header .datos-torrents .fa {
    color: #CC5252;
}



.myProfileInfo {
    padding: 30px;
}
.myProfileInfo > h2 {
    padding: 20px 15px 10px 15px;
    border-bottom: 1px solid #d5d6d8;
    font-size: 24px;
    margin-top: 0;
}
.myProfileInfo > div {
    padding: 0 30px 30px 30px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: flex;
    justify-content: center;
}
.myProfileInfo > div > div {
    max-width: 750px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.myProfileInfo .infoRow {
    border-bottom: 1px solid #d5d6d8;
}
.myProfileInfo > .infoRow {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
.myProfileInfo .formGroup {
    margin-bottom: 15px;
    display: -webkit-flex;
    display: flex;
}
.myProfileInfo .form-group label {
    min-width: 100px;
    text-align: right;
    margin-right: 15px;
    padding-top: 7.5px;
}
.myProfileInfo .form-group input {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.myProfileInfo .form-group .group-input {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.myProfileInfo .form-group {
    display: -webkit-flex;
    display: flex;
}
.myProfileInfo .infoRow h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 12.5px 0 15px 0;
}
.myProfileInfo input {
    width: 100%;
}
@media screen and (min-width: 767px) {
    .myProfileInfo > h2 {
        padding-left: 20%
    }
}
@media screen and (min-device-width: 505px) and (max-device-width: 767px) {
    .myProfileInfo>div>div>div:nth-child(3) {
        text-align: center;
    }
    .myProfileInfo .btn-info {
        width: 270px;
    }
}
@media screen and (min-width: 505px) and (max-width: 767px) {
    .myProfileInfo>div>div>div:nth-child(3) {
        text-align: center;
    }
    .myProfileInfo .btn-info {
        width: 270px;
    }
}

@media screen and (max-device-width: 504px), (max-width: 504px) {
    .myProfileInfo .form-group {
        display: flex;
        flex-direction: column;
        align-items: stetch;
        margin-bottom: 0;
    }
    .myProfileInfo .form-group label {
        text-align: left;
    }
    .myProfileInfo .infoRow {
        padding-bottom: 15px;
    }
    .myProfileInfo .infoRow h3 {
        margin: 10px 0 5px 0;
    }
    .myProfileInfo > h2 {
        margin: 0;
    }
    #myFirstName {
        margin-bottom: 12.5px;
    }
    .myProfileInfo .btn-info {
        width: 100%;
    }
}

nav .group-input {
    float: right;
    position: relative;
    top: -2px;
}
nav .group-input input {
    border: none;
}
.group-input span {
    font-size: 14px;
}
.res-search .fa {
    float: right;
    font-size: 20px;
    position: relative;
    top: 6px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: all;
    transition-property: all;
}
.res-search .fa:hover,
.res-search .fa:focus,
.res-search .fa:active {
    cursor: pointer;
    color: #D5D6D8;
}
.res-input {
    z-index: 90;
    position: fixed;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: all;
    transition-property: all;
    width: 100%;
}
.res-input input {
    width: 100%;
}

@media screen and (max-device-width: 600px), (max-width: 600px) {
    nav .group-input {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    .res-search {
        display: none;
    }
}

.dash-tabs {
    display: -webkit-flex;
    display: flex;
    border-bottom: 2px solid #6b9cb5;
}
.dash-tabs li {
    padding: 12.5px 15px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.dash-tabs li a {
    color: #4D4D4D;
}
.dash-tabs li a:hover,
.dash-tabs li a:active,
.dash-tabs li a:focus {
    text-decoration: none;
}
.dash-tabs .active {
    -webkit-box-shadow: inset 0px -5px 0px 0 #6b9cb5;
    -moz-box-shadow: inset 0px -5px 0px 0 #6b9cb5;
    box-shadow: inset 0px -5px 0px 0 #6b9cb5;
}




.dash-item {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    border: 1px solid #d5d6d8;
    padding: 5px 7.5px;
    background-color: #EDEEF0;
    color: #4D4D4D;
}
.dash-indicator {
    width: 300px;
}
.dash-place {
    width: 225px;
}
.dash-item > div {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
}
.dash-item > div:nth-child(1) > div {
    display: -webkit-flex;
    display: flex;
}
.dash-item .in-title {
    font-weight: 700;
    font-size: 12px;
}
.dash-item .in-period {
    color: white;
    background-color: #6b9cb5;
    border-radius: 5px;
    padding: 0px 5px;
    margin-right: 7.5px;
}
.dash-item .in-period span {
    font-size: 12px;
    font-weight: 700;
}
.dash-item .fa.fa-question-circle {
    font-size: 15px;
    position: relative;
    top: 2.5px;
}
.dash-item .in-number {
    font-size: 22.5px;
    font-weight: 700;
}
.dash-item .in-country {
    font-size: 20px;
    font-weight: 600;
}
.dash-item > div:nth-child(3) > span {
    font-size: 13px;
    font-weight: 300;
}
.dash-item .in-percentage {
    font-size: 12px;
    color: #6abd83;
}
.dash-item .tooltip .tooltip-arrow {
    display: none;
}
.dash-item .tooltip {
    font-family: 'Open Sans';
    font-weight: 300;
}
.dash-item .tooltip .tooltip-inner {
    background-color: #4D4D4D;
}
.dash-item .ad {
    font-size: 10px;
    font-weight: 600;
}