.addContent {
    display: block;
    margin: 30px 0px;
    text-align: center;
}
.big-image {
    width: 150px;
    height: 150px;
}
.medium-image {
    width: 75px;
    height: 75px;
}
.small-image {
    width: 30px;
    height: 30px;
}
.big-circle {
    border-radius: 75px;
    border: 1px solid #D5D6D8;
}
.medium-circle {
    border-radius: 37.5px;
    border: 1px solid #D5D6D8;
}
.small-circle {
    border-radius: 27.5px;
    border: 1px solid #D5D6D8;
}
ul {
    list-style-type: none;
}
.btn {
    border-radius: 0;
}
.navigation-bar .navbar-header {
    text-align: center;
    padding-top: 7.5px;
}
.navigation-bar span {
    color: white;
    font-size: 30px;
    z-index: 100;
}
.footer-bottom > div {
    text-align: center;
}
.footer-bottom {
    width: 100%;
    background-color: #EDEEF0;
}
html, body {
    height: 100%
}
.content-wrap {
    min-height: 100%;
}
.content-wrap:after {
    content: "";
    display: block;
}
.foot-logo {
    width: 95px;
}
.foot-link {
    font-size: 11px !important;
    font-weight: 300 !important;
    color: #4D4D4D;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color;
    transition-property: color;
}
.foot-link:hover,
.foot-link:active,
.foot-link:focus {
    color: #222 !important;
}
.separator {
    color: #4D4D4D;
    position: relative;
    bottom: 1.5px;
    left: 2px;
    font-size: 7px;
}

@media(min-width: 768px) {
    .content-wrap {
        padding: 75px 30px 30px 260px;
        transition: padding 0.5s ease-in-out !important;
        margin-bottom: -110px;    
    }
    .content-wrap-alt {
        padding: 75px 30px 30px 65px;
        transition: padding 0.5s ease-in-out !important;
    }
    .content-wrap:after {
        height: 110px;
    }
    .drop-fade-alt {
        opacity: 1 !important;
    }
    .drop-fade {
        opacity: 0;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: opacity;
        transition-property: opacity;
    }
    .footer-bottom {
        height: 110px;
    }
    .footer-bottom {
        padding: 7.5px 0 7.5px 260px;
        transition: padding 0.5s ease-in-out !important;   
    }
    .footer-bottom-alt {
        padding: 7.5px 0 7.5px 65px;
        transition: padding 0.5s ease-in-out !important;   
    }
}
.side-toggle {
    float: left;
    position: relative;
    top: 7.5px;
    right: 15px;
    font-size: 20px !important;
}

/*-----------SIDEBAR-----------*/
.left-bar,
.right-bar {
    display: inline-block;
    background-color: #EDEEF0;
    height: 100%;
    position: fixed;
    padding-top: 10px;
}
.side-bar {
    position: fixed;
    z-index: 99;
}
@media screen and (max-device-width: 768px), (max-width: 768px) {
    .side-bar {
        display: none;
    }
    .side-toggle {
        right: 0px;
    }
    .content-wrap {
        padding: 75px 30px 0 30px;
        margin-bottom: -265px;
    }
    .content-wrap:after {
        height: 265px;
    }
    .drop-fade-alt {
        opacity: 0 !important;
    }
    .drop-fade {
        opacity: 0 !important;
    }
    .footer-bottom {
        padding: 10px 0 10px 0;
        height: 265px;
    }
    .footer-bottom > div > span,
    .footer-bottom > div > a,
    .footer-bottom > div > p {
        margin-top: 10px;
        display: block;
    }
}
.side-bar-hidden {
    display: initial !important;
}
.side-bar ul {
    padding-left: 0;
}
.right-bar {
    transform: translate3d(35px, 0px, 0px);
    transition: transform 0.5s ease-in-out !important;
}
.hide {
    transform: translate3d(-146px, 0px, 0px);
}
.left-bar > ul > li,
.left-bar > ul > ul > li {
    height: 35px;
    width: 35px;
    text-align: center;
}
.right-bar > ul > li,
.right-bar > ul > ul > li {
    height: 35px;
    width: 180px;
    
}
.side-bar a {
    color: #4D4D4D;
}
.side-bar a:hover,
.side-bar a:active,
.side-bar a:focus {
    text-decoration: none;
    outline: none;
}
.side-bar p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.right-bar > ul > li > a > p,
.right-bar > ul > ul > li > a > p {
    padding-left: 5px;
    padding-top: 7.5px;
    margin: 0;
    height: 100%;
    border-bottom: 1px solid #D5D6D8;
}
.left-bar > ul > li > a > span,
.left-bar > ul > ul > li > a > span {
    padding-top: 10px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #D5D6D8;
    position: relative;
    top: 0px;
}
.intern {
    background-color: #E3E3E3;
}
.off-hover {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property:background-color;
    transition-property:background-color;
}
.on-hover {
    background-color: #D5D6D8 !important;
}
.droption {
    float: right;
    padding: 5px 15px;
    font-size: 10px;
}
.userMenu-btn {
    text-align: center;
    border-bottom: none !important;
    background-color: #6b9cb5;
    color: white;
    font-weight: 600 !important;
}
.first-li {
    background-color: #6b9cb5;
}
.userMenu-btn .on-hover {
    background-color: #395360 !important;
}
.profile-picture {
    height: 135px;
}
.left-bar .profile-picture {
    padding-top: 70px;
    text-align: center;
}
.right-bar .profile-picture {
    padding-top: 50px;
    padding-left: 35px;
}
/*-----------BOTONES-----------*/


.btn-inverse {
    color: #fff;
    background-color: #424242;
    border-color: #262626;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #6B6B6B;
    border-color: #575757;        
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
    background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled.focus,
.btn-inverse[disabled].focus,
fieldset[disabled] .btn-inverse.focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-inverse .badge {
    color: #337ab7;
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li > .option {
    color: #0d0d0d;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #000;
    background-color: #d5d6d8;
}

.nav .side-nav .navbar-nav > li:hover {
    background-color: #d5d6d8;
}


.btn,
.btn:hover,
.btn:active,
.btn:focus {
    border: none;
}
.btn {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
}


.btn-inverse {
    background-color: #424242;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active {
    background-color: #000 !important;
    color: #D5D6D8;
}

.btn-info {
    background-image: none;
    background-color: #6b9cb5;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
    background-color: #395360 !important;
    color: #D5D6D8;
}

.btn-default {
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #D5D6D8;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #BDBDBD !important;
    color: #4D4D4D;
}

.btn-default-alt {
    text-shadow: none;
    color: #6b9cb5;
    background-image: none;
    background-color: #D5D6D8;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}
.btn-default-alt:hover,
.btn-default-alt:focus,
.btn-default-alt:active {
    background-color: #BDBDBD !important;
    color: #395360;
}

.btn-default-border {
    border: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-default-border:hover,
.btn-default-border:focus,
.btn-default-border:active {
    background-color: #FFF !important;
    color: #222222;
    border-color: #222222 !important;
}


.btn-blue {
    border: 1px solid !important;
    border-color: #6b9cb5 !important; 
    text-shadow: none;
    color: #6b9cb5;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    background-color: #FFF !important;
    color: #395360;
    border-color: #395360 !important;
}


.btn-filter {
    border-radius: 0;
    border-left: 1px solid !important;
    border-right: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-filter.btn.active,
.btn-filter.btn:active {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.btn-filter:hover,
.btn-filter:focus,
.btn-filter:active {
    background-color: #FFF !important;
    color: #222222;
    border-color: #222222 !important;
}

.btn-empty,
.btn-empty > .drop-span {
    border: none; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: none;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-empty.btn.active,
.btn-empty.btn:active,
.btn-empty.btn.active > .drop-span, 
.btn-empty.btn:active > .drop-span  {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn-empty:hover,
.btn-empty:focus,
.btn-empty:active,
.btn-empty:hover > .drop-span,
.btn-empty:focus > .drop-span,
.btn-empty:hover > .drop-span  {
    background-color: none !important;
    color: #222222;
    border: none;
}


.drop-span {
    border: none;
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle; 
    transition:all 0.2s ease-in-out;
}
.drop-span:hover,
.drop-span:focus,
.drop-span:active {
    background-color: none !important;
    color: #222222;
    border: none;  
}
.drop-span-alt {
    transform:rotateZ(180deg);    
}


.btn-state {
    border: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: #949494;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.btn-state:hover,
.btn-state:focus,
.btn-state:active {
    background-color: #FFF !important;
    color: #222222;
    border-color: #222222 !important;
}


.btn-state-alt {
    border: 1px solid !important;
    border-color: #949494 !important; 
    text-shadow: none;
    color: white;
    background-image: none;
    background-color: #949494;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}

.btn-state-alt:hover,
.btn-state-alt:focus,
.btn-state-alt:active {
    background-color: #000 !important;
    color: white;
    border-color: #000 !important;
}

.state-tick-alt {
    background-color: none;
}

.state-tick {
    display: none;
}


/*-----------TAB CONTAINER-----------*/

.tab-container {
    border: 1px solid #D5D6D8;
    font-family: 'Open Sans', sans-serif;
    margin: 30px 30px;
}
.tab-container > .nav-pills > li > a {
    border-radius: 0;
    color: #4D4D4D;
}

.tab-container > .nav-pills > li > a:hover,
.tab-container > .nav-pills > li > a:focus,
.tab-container > .nav-pills > li > a:active {
    color: #4D4D4D;
    background-color: #EDEEF0;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: #EDEEF0;
}

.nav-pills>li>a {
    border-radius: 0;
    text-shadow: none;
    color: #EDEEF0;
    background-image: none;
    background-color: #FFF;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: border-color, color, background-color;
    transition-property: border-color, color, background-color;
}
.nav-pills>li>a, 
.nav-pills>li>a:focus, 
.nav-pills>li>a:hover {
    background-color: white;
}


/*-----------BADGES-----------*/

.label-default {
    background-color: #949494;
    border-radius: 10px;
    margin-left: 4px;
}
.label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.label-default-border {
    border: 1px solid #949494;
    color: #949494;
    border-radius: 0;
}



/*-----------IMAGE-BUTTON-----------*/

.image-upload,
.image-upload:hover,
.image-upload:focus,
.image-upload:active {
    background-color: #EDEEF0;
    width: 150px;
    height: 150px;
    border: 1px solid #D5D6D8;
}
.image-upload>span {
    font-size: 50px;
    color: #D5D6D8;
}
.btn {
    outline: 0 !important;
}


/*-----------MODAL-----------*/

.modal-body > div > div > .circular{
    width: 138px;
    height: 138px;
    border-radius: 69px;
    -webkit-border-radius: 69px;
    -moz-border-radius: 69px;
    margin: 0 0 0 6px;
}
    
.modal-body,
.modal-body-new-artist{
    text-align: left;
    background-color: #EDEEF0;      
}

.modal-body > div > a,
.modal-body-new-artist div > a{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.artist-list{
    margin-top: 30px;
}        
.modal-body-new-artist{
    height: 110px;
}    
#switchMultiTrace{
    color: #D5D6D8;
}    
#switchMultiTrace:hover,
#switchMultiTrace:focus,
#switchMultiTrace:active{
    color: #949494;
}    
#switchMultiTrace,
#switchMultiTrace:hover,
#switchMultiTrace:focus,
#switchMultiTrace:active{
    background-color: #222 !important;
}    
#myNewArtistLabel{
    display: inline-block;
    margin-right: 15px;
}    
.modal-body{
    height: 283px;
}        
.modal-footer{
    background-color: #EDEEF0;
}                
#changeProfilePic > p{
    display: inline-block;
}    
#changeProfilePic > span{
    top: 2px;
}        
.profile-field{
    margin: 0 0 10px 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}    
.profile-field > span{
    font-weight: 600;
    color: #949494;
}
    
.modal-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-left: 10px;
    color: white;
}    
.modal-header{
    background-color: #222;
}    
.black-glyph{
    font-size: 18px;
    color: white;
}    
.close{
    text-shadow: none;
    opacity: 1;
}    
.input-group-addon{
    background-color: #EDEEF0;
}



.areatext-div {
    padding-left: 0px !important;
}
.enquiry-div {
    padding-bottom: 3.5px;
    border-bottom: 1px solid #E5E5E5;
}
.enquiry-div > span {
    font-weight: 600;
    padding-left: 15px;
}
.enquiry-div > textarea {
    height: 217px;
    margin-top: 12px;
    border-radius: 0px;
}
.information-div {
    border: 1px solid #395360 !important;
    padding: 0px !important;
    height: 100%;
}
.information-div-header {
    width: 100%;
    background-color: #395360;
    display: block;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    padding: 12.5px 11.5px 15px;
}
.information-div-header > p {
    color: white;
    margin: 0px;
}
.information-div-info {
    padding: 10px 12px;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
}




.campaign-box {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 1px solid #949494;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 12.5px;
}
.campaign-box-mobile {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 1px solid #949494;
    padding: 12.5px;
    min-height: 96px;
}
.campaign-box .state-column {
    padding: 9.5px 7.5px 0 0;
    flex: 1 1 1;
}
.campaign-box .content-column {
    padding: 0 7.5px;
    flex: 2 1 0;
    border-right: 1px solid #D5D6D8;
}
.campaign-box .campaign-column h3 {
    margin-top: 0;
    margin-bottom: 7.5px;
}
.campaign-box-mobile h3 {
    margin-top: 0;
    margin-bottom: 7.5px;
}
.campaign-box .data-column {
    flex: 1 1 1;
    font-size: 13px;
    color: #4D4D4D;
    padding: 0 7.5px;
}
.campaign-box-mobile .data-column {
    font-size: 13px;
    color: #4D4D4D;
}
.campaign-box .options-column {
    flex: 1 1 1;
    padding: 0 0 0 5px;
}

.btn-corner-option {
    font-size: 15px;
    padding: 7.5px 7.5px 7.5px 7.5px !important;
    background-color: #949494;
    color: white;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.btn-corner-option:focus,
.btn-corner-option:active,
.btn-corner-option:hover {
    background-color: #4D4D4D;
    color: white;
}
.campaign-box .btn-expand,
.campaign-box-mobile .btn-expand {
    cursor: pointer;
}
.campaign-box .btn-expand div,
.campaign-box-mobile .btn-expand div  {
    border: 3px solid #949494;
    width: 30px;
    height: 30px;
    text-align: center;
    -webkit-transition: border-color 0.25s ease;
    -moz-transition: border-color 0.25s ease;
    -o-transition: border-color 0.25s ease;
    transition: border-color 0.25s ease;
}
.campaign-box .btn-expand .fa-expand,
.campaign-box-mobile .btn-expand .fa-expand {
    color: #949494;
    position: relative;
    top: 4.5px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.campaign-box .data-rows div:nth-child(1) {
    min-width: 12px;
    margin-right: 5px;
    font-size: 17px;
    position: relative;
    top: 2px;
    color: #222;
}
.campaign-box-mobile .data-rows div:nth-child(1) {
    min-width: 12px;
    margin-right: 5px;
    font-size: 17px;
    color: #222;
}
.campaign-box .data-rows div:nth-child(2),
.campaign-box-mobile .data-rows div:nth-child(2) {
    min-width: 68px;
    margin-right: 14.5px;
    font-weight: 600;
}
.campaign-box .data-rows div:nth-child(3),
.campaign-box-mobile .data-rows div:nth-child(3) {
    font-weight: 400;
}
.campaign-box .data-rows div,
.campaign-box-mobile .data-rows div {
    text-align: left;
    display: inline-block;
}
.campaign-box .data-rows {
    display: block;
    margin-bottom: 10px;
}
.campaign-box-mobile .data-rows {
    display: inline-block;
    margin: 0 7.5px 10px 7.5px;
    width: 180px;
}
.btn-popover {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 7.5px 0px 7.5px 0px !important;
}
.popover {
    border-radius: 0;
}
.campaign-box .popover,
.campaign-box-mobile .popover {
    max-width: 185px;
}
.campaign-box .campaign-hideable,
.campaign-box-mobile .campaign-hideable {
    display: none;
}
.data-buttons {
    margin-top: 7.5px;
}
.campaign-box-mobile .data-column {
    text-align: center;
}
.campaign-box-mobile .bands-message {
    padding-bottom: 7.5px;
    border-bottom: 1px solid #D5D6D8;
}
@media (min-width: 769px) {
    .campaign-box-mobile{
        display: none;
    }
}

@media screen and (max-device-width: 768px), (max-width: 768px) {
    .campaign-box{
        display: none;
    }
}

.label {
    padding: 3.5px 5px 3.5px 5px;
}

.label-running {
    border: 1px solid #53A93F;
    color: #53A93F;
    border-radius: 0;    
}
.campaign-box-mobile .label {
    width: 80px;
    float: right;
}


.btn-small {
    font-size: 12px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    padding: 7.5px 12px !important;
    border-radius: 0;
    outline: 0 !important;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.disc-box {
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #949494;
    padding: 12.5px;
}
.discover {
    vertical-align: top;
}
.discover img {
    height: 150px;
    width: 150px;
}

.disc-info h3 {
    padding: 5px 0px 7.5px 0px;
    margin: 0;
    border-bottom: 1px solid #D5D6D8;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.disc-info p {
    font-size: 12px;
    margin: 7.5px 0px;
}
.disc-info span {
    font-weight: 600;
}


.art-box .cover-art {
    vertical-align: top;
}
.art-box .top-art-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5px;
}
.art-box .top-art-row h3{
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}
.information-row div {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 5px 0 5px 0;
}

.information-row div span:nth-child(2){
    flex-grow: 1;
}
.art-box .popover {
    width: 210px;
}

@media (min-width: 420px) {
    .disc-box {
        width: 350px;
    }
    .discover {
        display: inline-block;
        margin-right: 12.5px;
    }
    .disc-info {
        display: inline-block;
        width: calc(100% - 170px);
    }
    .cover-info {
        display:inline-block;
        width: calc(100% - 117px);
    }
    .art-box .cover-art img{
        width: 100px;
        height: 100px;
    }
    .art-box .cover-art {
        display: inline-block;
        margin-right: 12.5px;
    }
    .art-box .top-art-row h3{
        font-size: 16px;
    }
    .information-row div {
        font-size: 13px;
    }
    .information-row div span:nth-child(2){
        max-width: 110px;
    }
}

@media screen and (max-device-width: 421px), (max-width: 421px) {
    .disc-box {
        width: 180px;
    }
    .discover,
    .disc-info {
        display: block;
    }
    .disc-info {
        margin-top: 10px;
    }
    .art-box .cover-art img{
        width: 150px;
        height: 150px;
    }
    .art-box .cover-art {
        display: inline-block;
    }
    .cover-info {
        display: block;
    }
    .art-box .top-art-row {
        margin-top: 12.5px;
    }
    .art-box .top-art-row h3{
        font-size: 15px;
    }
    .information-row div {
        font-size: 12px;
    }
    .information-row div span:nth-child(2){
        max-width: 60px;
    }
}

.art-box .top-art-row h3 > a {
  position: relative;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

.art-box .top-art-row h3 > a:hover {
  color: #222;
}

.art-box .top-art-row h3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #222;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.art-box .top-art-row h3 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}





.displayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}




/*------ARTIST-INFO-BOX------*/
.artist-i {
    border: 1px solid #D5D6D8;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.artist-i-head div:nth-child(1) {
    border-bottom: 1px solid #D5D6D8;
    margin-bottom: 12.5px;
}
.artist-i-head div h2 {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin-bottom: 0;
    font-weight: 700;
    padding-bottom: 5px;
    color: #4d4d4d;
    margin-top: 15px;
}
.artist-i-img-alt {
    width: 250px;
    height: 250px;
}
.artist-i-info {
    font-size: 13px;
}
.artist-i-info p span {
    font-weight: 600;
}
.artist-i-img {
    margin: 0 20px 0 0 !important;
    width: 200px;
    height: 200px;
}

@media (min-width: 766px) {
    .artist-i-head {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        width: calc(100% - 220px);
    }
    .artist-i-head div:nth-child(1) {
        -webkit-display: flex;
        -webkit-align-items: center;
        display: flex;
        align-items: center;
    }
    .artist-i-head div h2 {
        width: calc(100% - 95px);
    }
    .edit-info-mobile {
        display: none;
    }
    .artist-i-img-alt {
        display: none;
    }
}

@media screen and (max-device-width: 767px), (max-width: 767px) {
    .edit-info-desktop {
        display: none;
    }
    .artist-i-img {
        display: none;
    }
    .artist-i {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .artist-i-head div:nth-child(1) {
        text-align: center;
    }
    .edit-info-mobile a {
        width: 100%;
    }
    .artist-i-head {
        width: 100%;
        text-align: center;
    }
}